.d{
    border-style: solid; 
}

#chat-main{
    width: 900px;
    height: 100%;
    padding: 10px;
    margin: 5px auto;
    overflow: auto;
}

.card-panel{
    height: 100%;
}

#chat-container{
    margin: auto;
    width: 50%;
    height: 100%;
    padding: 10px;
}

#chat-top{
    width: 900px;
    height: 50px;
    padding: 10px;
    margin: 5px auto;  
}

#chat-type{
    width: 700px;
    height: 60px;
    padding: 10px;
    margin: 5px auto;  
}

#chat-send{
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 5px auto;  
}

#typedmessage{
    width: 500px;
    margin: auto;
}

#chat-sent{
    width: 500px;
    height: 10px;
    padding: 10px;
    margin: 5px auto;
    text-align: right;
}

#chat-recieved{
    width: 500px;
    height: 10px;
    padding: 10px;
    margin: 5px auto;
    text-align: left;
}

